<configuration>
    <!-- Include GCP Stackdriver appender -->
    <include resource="org/springframework/cloud/gcp/autoconfigure/logging/logback-appender.xml" />

    <!-- Async GCP Appender -->
    <appender name="ASYNC_STACKDRIVER" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STACKDRIVER" />
        <queueSize>1024</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>true</includeCallerData>
    </appender>

    <!-- Modify Stackdriver Encoder for Custom Format -->
    <appender name="STACKDRIVER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- GCP-specific pattern -->
            <pattern>%d{HH:mm:ss.SSS, Asia/Dubai} [%thread] [%.-5level] %logger{1}:%M:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
       <!--  <appender-ref ref="STACKDRIVER" /> -->
        <appender-ref ref="ASYNC_STACKDRIVER" />
    </root>
</configuration>

