# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.gradle
.vscode
bin
build
.DS_Store
.deps/*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Hardhat files
cache
artifacts
cache-zk
artifacts-zk


node_modules
*.env*
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts
# OpenZeppelin
*/*.openzeppelin/unknown-*.json
